$breakpoints: (
  xtr-small:464px,
  small: 472px,
  sm-med: 515px,
  medium: 768px,
  med-lg: 820px,
  large: 992px,
  wide: 1064px,
  xtr-wide: 1122px
);

@mixin breakpoint($name) {
  @if not map-has-key($breakpoints, $name) {
    @warn "Warning: `#{$name}` is not a valid breakpoint name.";
  } @else {
    @media (min-width: map-get($breakpoints, $name)) {
      @content;
    }
  }
}
