@import '../abstracts/mixins';

* {
  box-sizing: border-box;
}
#main-site-container {
  display: block;
}
#main-site-container.hide-overflow {
  display: none;
}

.block-content {
  display: flex;
  flex-direction: column;
}

.section-content {
  box-sizing: content-box;
  font-weight: 400;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  text-size-adjust: 100%;
  overflow-wrap:  break-word;
  letter-spacing: normal;
  text-align: center;
}
/* was originally in home.scss */
.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.footer-content-spacing {
  padding: 0px;
  @include breakpoint('medium'){
  padding-left: 9px;
  padding-right: 9px;
  }
}

.content-wrapper {
  margin-left: 6vw;
  margin-right: 6vw;
  padding-left: 4vw;
  padding-right: 4vw;
  position: relative;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  @include breakpoint('medium'){
    justify-content: space-between;
  }
}
.icons-wrapper {
  box-sizing: content-box;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 0;
  margin-bottom: 2em;
}
.ig-icon-wrapper {
  justify-self: flex-start;
}
.yelp-icon-wrapper {
  justify-self: flex-end;
}
.full-width-page-wrapper {
  margin-top: 15vh;
  padding-top: 2rem;
  padding-left: 4vw;
  padding-right: 4vw;
}
 

