.navbar {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 16.5vh;
  pointer-events: auto;
  background-color: white;
  overflow: none;
  
}

.navbar-wrapper {
  position: relative;
  width: 92vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-self: center;
  align-items: center;
  align-self: center;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
  margin-left: 4vw;
  margin-right: 4vw;
  overflow: none;
}

.nav-items-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  justify-self: flex-end;
  margin-right: 10px;
  
}
.icons-wrapper {
  padding:10px;
}


.header-logo-container {
  box-sizing: content-box;
  max-height: 86px;
  width: auto;
  object-fit: contain;
  margin: 0px;   
  justify-self: flex-start;
  align-self: center;
}

.header-title-logo {
  width: auto;
  max-height: 86px;
  align-self: center;
  overflow: none;
}


.header-nav-item {
  padding: 10px;
  text-align: left;
}

a.navlink {
  font-family: source-code-pro, monospace;
  font-weight: 200;
  font-style: normal;
  color: hsl(329.9999999999999, 2.4390243902439024%, 16.07843137254902%);
  text-decoration: none;
}

.is-visible {
  opacity: 1;
}


/* THIS SECTION NEEDS TO BE REFACTORED AND ACCOUNT FOR A MIN VALUE BREAKPOINT
/* INSTEAD OF THE MAX 

/* Small devices 767px and lower */
@media (max-width: 767px) { 
  .navbar-wrapper {
    box-sizing: border-box;
    max-height: 86px;
    width: 86vw;
   
}
.header-logo-container {  
    display: flex;
    max-height: 86px;
    width: auto;
    object-fit: contain;
}
.header-content-div {
    padding-top: 6vw;
    padding-right: 6vw;
    padding-bottom: 6vw;
    padding-left: 6vw;
}

.nav-items-wrapper {
    display: none;
}

.navbar-burger {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: white;
}
.navbar-burger.active {
    background-color: red;
    transform: translatex(-3.5px) rotate(-135deg);
}

.top-bun {
    display: block;
    content: '';
    left: 0;
    width: 100%;
    height: 1px;
    margin: none;
    background-color: rgb(0, 0, 0);
    transition: transform 250ms cubic-bezier(.2,.6,.3,1), width 250ms cubic-bezier(.2,.6,.3,1);
    will-change: transform, width;
    cursor: inherit;
}   

.top-bun.active {
    transform: translatex(3.5px) translateY(5px) rotate(-135deg);
    width: 28px;
}
.patty {
    display: block;
    position: absolute;
    width: 100%;
    transform: scale(0);
}

.bottom-bun {
    display: block;
    content: '';
    left:0;
    margin: none;
    width: 100%;
    transition: transform 250ms cubic-bezier(.2,.6,.3,1), width 250ms cubic-bezier(.2,.6,.3,1);
    will-change: transform, width;
    height: 1px;
    background-color: rgb(0, 0, 0);
    will-change: transform, width;
    cursor: inherit;
}

.bottom-bun.active {
    transform: translatex(3.5px) translateY(-6px) rotate(135deg);
    width: 28px;
}
}
/* Medium devices (768px and up) */
@media (min-width: 768px) { 
  .header-content-div { 
    position: relative;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .navbar-burger {
    display: none;
  }
  .nav-items-wrapper {
    text-align: left;

  } 
}
/* Large devices (desktops, 820px and up)*/
@media (min-width: 820px) {
}

/* Extra large devices (desktops, 992px and up)*/
@media (min-width: 1200px) { 
  .header {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    line-height: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    }   
  /* display the full navbar and set the max width for this viewport width
          FOOTER should be vertically aligned until 820px
  */
}