.button-container {
  box-sizing: content-box;
  height: auto;
  margin-top: 2.4em;
  margin-bottom: 2.4em;
  margin-left: auto;
  margin-right: auto;
}

a.red-section-button {
  padding: 1.2em 2.004em;
  width: 100%;
  align-self: center;
  font-family: source-code-pro, monospace;
  color: white;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .02em;
  font-size: 1rem;
  border: solid white 2px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

}