

.product-card-wrapper.odd {
  display: flex;
  flex-direction: column; 
  box-sizing: border-box;
  object-fit: contain;
  width: 92vw;
  justify-self: center;
  align-items: center;
  overflow: none;
  margin-left: auto;
  margin-right: auto;
}
.product-card-wrapper.even {
  display: flex;
  flex-direction: column-reverse;
  box-sizing: border-box;
  object-fit: contain;
  width: 92vw;
  justify-self: center;
  align-items: center;
  overflow: none;
  margin-left: auto;
  margin-right: auto;
}
h3.product-card-heading {
  align-self: center;
  margin: 0px;
  text-align: center;
}
.product-image-container {
  box-sizing: content-box;
  width: 100%;
  height: auto;
  object-fit: contain;
  overflow: none;
  opacity: 0;
  transition-property: opacity;
  will-change: transform, opacity;
}
.product-card-description {
  width: 100%;
  margin: auto;
  justify-self: center;
  align-self: center;
  text-align: center;
  opacity: 0;
  transition-property: opacity;
  will-change: transform, opacity;
}
.product-image {
  height: auto;
  width: 100%;
  object-fit: contain;
  overflow: none;
  margin-top: 0;
}

.start-position-left {
  transform: matrix(1,0,0,1,-14,0);
}

.start-position-right {
  transform: matrix(1,0,0,1,14,0);
}

.is-visible.left {
  transform: matrix(1,0,0,1,0,0);
  transition: opacity 800ms cubic-bezier(.4,0,.2,1), transform 800ms cubic-bezier(.4,0,.2,1);
}
.is-visible.right {
  transform: matrix(1,0,0,1,0,0);
  transition: opacity 800ms cubic-bezier(.4,0,.2,1), transform 800ms cubic-bezier(.4,0,.2,1);
}
@media (min-width: 472px) {
  
  .product-card-wrapper.odd {
    display: flex;
    flex-direction: row;
    box-sizing: content-box;
    justify-content: space-between;
    object-fit: contain;
    overflow: none;
    padding-top: 6vmax;
    padding-bottom: 6vmax;
    padding-left: 4vw;
    padding-right: 4vw;

  }
  .product-card-wrapper.even {
    display: flex;
    flex-direction: row;
    box-sizing: content-box;
    justify-content: space-between;
    object-fit: contain;
    overflow: none;
    padding-top: 6vmax;
    padding-bottom: 6vmax;
    padding-left: 4vw;
    padding-right: 4vw;
   
  }
  .product-card-description {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 44%;
    
    will-change: transform, opacity;
  }
  .product-image-container {
    box-sizing: content-box;
    width: 46%;
    height: auto;
    object-fit: contain;
    overflow: none;
   
    will-change: transform, opacity;
  }
}
