@import "../abstracts/mixins";

body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 18px;
}

.menu-link {
  font-family: Blackriver-bold;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: calc((4 - 1) * calc(.012 * min(100vh, 900px)) + 1rem);
  margin-top: 0px;
  margin-bottom: 2rem;  
}

h2 {
  font-family: Abel, monospace;
  font-weight: 300;
  font-style: normal;
  font-size: calc((2.2 - 1) * 1.2vw + 1.125rem);
}

h3 {
 
  font-family: Abel, monospace;
  font-weight: 300;
  font-style: normal;
  font-size: calc((2.2 - 1) * 1.2vw + 1.125rem);
  margin: 0;
}

p {
  font-family: source-code-pro, monospace;
  font-weight: 200;
  font-style: normal;
  font-size: calc((2.2 - 1) * 1.2vw + .40rem);
}
.product-text {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 8vw;
  margin-right: 8vw;
  @include breakpoint('small'){
    margin-left: 0;
    margin-right:0;
  }
}

.menu-page-selector {
  font-family: source-code-pro, monospace;
  font-weight: 200;
  font-style: normal;
  font-size: calc((2.2 - 1) * 1.2vw + .40rem);
}

.main-heading {
  font-family: Blackriver-bold;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: calc(3 * 0.012 * min(100vh, 900px) + 1rem);
  padding: 17px;
  margin: 2rem auto 0 auto;
  text-align: center;
}