@import '../abstracts/mixins';


.homepage-menu {
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: 8vw;
  margin-right: auto;
  height: calc(100vh - 16.5vh);
  flex-direction: column;
  margin-top: 16.5vh;
  margin-bottom: 0;
  padding-top: auto;
  padding-bottom: auto;
  @include breakpoint('small'){
    margin-left: 15vw;
  }
  @include breakpoint('medium'){
    width: 75%;
    padding-left: 20px; 
  }
}

.homepage-link {
  box-sizing: content-box;
  color: white;
  font-size: calc((4 - 1) * calc(.012 * min(100vh, 900px)) + 1rem);
  font-family: Blackriver-bold;
  font-weight: 400;
  font-style: normal;
  text-decoration-line: none;
  margin-top: 0px;
  margin-bottom: 2rem;
}

.section-one {
  position: relative;
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url('../../assets/images/PestoChicken.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 100%;
  height: 100vh;
  min-height: calc(100vh - 16.5vh);
  background-position: 50% 85%;
  background-attachment: scroll;
  z-index: 5;
  padding-top: auto;
  padding-bottom: auto;
}

.section-one:before {
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(42, 40, 41);
  opacity: 0.10;
  z-index: -1;
  content:'';
  position: absolute;
  left: 0;
  top: 0;
}

.section-two {
  margin-top: 0xp;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* THIS COULD POSSIBLY BE USED IN A MORE GLOBAL FOLDER */
.red-section {
  background-color: rgb(182, 32, 37);
  color: white;
  padding-top: 2em;
  padding-bottom: 2em;
}
h3.red-section-header-text {
  padding: 17px;
  text-align: center;
}


h2.red-section-header-text {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.section-three {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  padding-bottom: 2em;
  gap: 2em; 
  @include breakpoint('small'){
      gap: 0;
      padding-top: 0;
      padding-bottom: 0;
  }
}

.address-wrapper {
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  @include breakpoint('small'){
    align-content: center;
    text-align: center;
  }
}

.open-hours-info-wrapper {
  width: 60vw;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  @include breakpoint('medium'){
    flex-direction: row;
  }
}

.open-hours {
  padding: 17px;
}

.row-item-one {
  padding-left: 0px;
  padding-right: auto;
  margin-left: 0px;
  margin-bottom: 20px;
  justify-self: flex-start;
  @include breakpoint('medium'){
    margin-bottom: 0px;
  }

}
.icons-wrapper {
  width: min-content;
  margin-top: 20px;

  @include breakpoint('medium'){
    margin-top: 0px;
  }
}
