@use "../base/colors";
@use "../base/font_styles";
@use "../base/typography";

.main-menu-section {
  position: relative;
  background-color: colors.$red-bg;
  color: colors.$primary-text;
  padding-left: 6vw;
  padding-right: 6vw;
  padding-top: 6.6vmax;
  padding-bottom: 6.6vmax;
  margin-top: 15vh;
}


.menu-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: min-content;
}

.hide {
  display: none;
}

.menu-section {
  margin-bottom: 3em;
}

.menu-selector-wrapper {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
}
.menu-page-selector {
  font-size: calc((1 - 1) * calc(.012 * min(100vh, 900px)) + 1rem) !important;
  cursor: pointer;

}
.selector-is-active {
  text-decoration: underline;
  cursor: default;
}
.menu-section-title {
  font-size: calc((2.2 - 1) * calc(.012 * min(100vh, 900px)) + 1rem) !important;
  font-weight: 300;
  margin-top: 2em;
}

.item-title {
  font-size: calc((1.6 - 1) * calc(.012 * min(100vh, 900px)) + 1rem) !important;
  font-family: Abel;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0em;
  text-transform: none;
  line-height: 1.4em;
  margin-top: 2em;
}
.item-description {
  font-family: source-code-pro, monospace;
  font-size: calc((1 - 1) * calc(.012 * min(100vh, 900px)) + 1rem) !important;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 0em;
  text-transform: none;
  line-height: 1.7em;
}
.section-notes {
  margin-top: 0;
  margin-bottom: 3em;
}
 
// need mixins for breakpoints... 
/* min 768 
 menu item  */