@use "../abstracts/mixins";
@use "../abstracts/transforms";
@use "../base/colors";
@use "../base/font_styles";
@use "../base/typography";
@use "../components/buttons";


.card-section-wrapper {
  height: min-content;
  padding-left: 6vw;
  padding-right: 6vw;
  overflow: none;
}

.press-section-one {
  box-sizing: border-box;
  background-color: rgb(230, 230, 224);
  height: min-content;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 4vw;
  padding-right: 4vw;
  margin-top: 15vh;
  margin-bottom: 2em;
  font-size: calc((1.5 - 1) * calc(.012 * min(100vh, 900px)) + 1.5rem);
  line-height: 1.7;
}
.card-section {
  box-sizing: border-box;
  height: min-content;
  display: flex;
  flex-direction: column;
  gap: .5em;
  width: 100%;
  margin-bottom: 2em;
}
.press-card {
  box-sizing: content-box;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 88vw;
  max-width: 1200px;
  height: min-content;
  margin-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  overflow: none;
}
.press-card::before {
  content: '';
  display: block;
}

.press-caption-card {
  position: relative;
  width: 60%;
  top: 50px;
  height: auto;
  background-color: rgb(230, 230, 224);
  padding: 28px;
  margin-bottom: 1em;
  z-index: 5;
  opacity: 0;
  transition-property: opacity;
  will-change: transform, opacity;

  @include breakpoint('small'){
    top: 0px;
    width: 40%;
    padding: 1.5em;
  }
}


.on-right{
  margin-left: auto;
  right: 0;
}
.on-left{
  margin-right: auto;
  left: 0;
}

.press-heading {
  font-family: Blackriver-bold;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: calc(3 * 0.012 * min(100vh, 900px) + 1rem);
  padding: 17px;
  margin: 0 auto 0 auto;
  text-align: center;
}
.press-image-container {
  box-sizing: content-box;
  position: absolute;
  width: 90%;
  top: 0px;
  object-fit: contain;
  opacity: 0;
  transition-property: opacity;
  will-change: transform, opacity;
  z-index: 2;
  @include breakpoint('small'){
    width: 64%;
  }
}
.press-image {
  height: auto;
  width: 100%;
}

div.press-card:last-of-type{
  margin-bottom: 2em;
}

.horizontal-rule {
  position: relative;
  flex-direction: row;
  align-content: center;
  margin-top: 3em;
  margin-bottom: 3em;
  height: 1px;
  color: black;
  width: 100%;
}
.extra-padding {
  padding-top: 20px;
}
