@use '../abstracts/mixins';
@use "../layout/main-content-layout";

.patio-image-container {
    box-sizing: content-box;
    width: auto;
    object-fit: fill;
    overflow: none;
    margin-bottom: 2em;
}
.patio-image {
  max-width: 100%;
  height: auto;
  overflow: none;
}
.reservation-page-description {
  text-align: center;
  width: 100%;
  height: min-content;
  margin-left: auto;
  margin-right: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  @include breakpoint(medium){
    width: 60vw;
  }
}

.spacer {
  height: 17px;
  width:100%;
  clear: both;
}
.horizontal-rule {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-top: 17px;
  margin-bottom: 17px;
  height: 1px;
  background-color: black;
  width: 100%;
}