@import url("https://use.typekit.net/grx8rwo.css");
@import url("https://use.typekit.net/grx8rwo.css");
@import url("https://use.typekit.net/grx8rwo.css");
@import url("https://use.typekit.net/grx8rwo.css");
@import url("https://use.typekit.net/grx8rwo.css");
@import url("https://use.typekit.net/grx8rwo.css");
@import url("https://use.typekit.net/grx8rwo.css");
@import url("https://use.typekit.net/grx8rwo.css");
@import url("https://use.typekit.net/grx8rwo.css");
@import url("https://use.typekit.net/grx8rwo.css");
@import url("https://use.typekit.net/grx8rwo.css");
@import url("https://use.typekit.net/grx8rwo.css");
@import url("https://use.typekit.net/grx8rwo.css");
@import url("https://use.typekit.net/grx8rwo.css");
@import url("https://use.typekit.net/grx8rwo.css");
@import url("https://use.typekit.net/grx8rwo.css");
@import url("https://use.typekit.net/grx8rwo.css");
@import url("https://use.typekit.net/grx8rwo.css");
@font-face {
  font-family: Blackriver;
  src: url(".assets/Exported Fonts/Blackriver-Bold.otf");
}
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 18px;
}

.menu-link {
  font-family: Blackriver-bold;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: calc(3 * 0.012 * min(100vh, 900px) + 1rem);
  margin-top: 0px;
  margin-bottom: 2rem;
}

h2 {
  font-family: Abel, monospace;
  font-weight: 300;
  font-style: normal;
  font-size: calc(1.44vw + 1.125rem);
}

h3 {
  font-family: Abel, monospace;
  font-weight: 300;
  font-style: normal;
  font-size: calc(1.44vw + 1.125rem);
  margin: 0;
}

p {
  font-family: source-code-pro, monospace;
  font-weight: 200;
  font-style: normal;
  font-size: calc(0vw + 1rem);
}

.product-text {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 8vw;
  margin-right: 8vw;
}
@media (min-width: 472px) {
  .product-text {
    margin-left: 0;
    margin-right: 0;
  }
}

.menu-page-selector {
  font-family: source-code-pro, monospace;
  font-weight: 200;
  font-style: normal;
  font-size: calc(1.44vw + 0.4rem);
}

.main-heading {
  font-family: Blackriver-bold;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: calc(0.036 * min(100vh, 900px) + 1rem);
  padding: 17px;
  margin: 2rem auto 0 auto;
  text-align: center;
}

@font-face {
  font-family: Blackriver;
  src: url(".assets/Exported Fonts/Blackriver-Bold.otf");
}
.start-position-left {
  transform: matrix(1, 0, 0, 1, -14, 0);
}

.start-position-right {
  transform: matrix(1, 0, 0, 1, 14, 0);
}

.is-visible {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: opacity 800ms cubic-bezier(0.4, 0, 0.2, 1), transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
  font-family: Blackriver;
  src: url(".assets/Exported Fonts/Blackriver-Bold.otf");
}
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 18px;
}

.menu-link {
  font-family: Blackriver-bold;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: calc(3 * 0.012 * min(100vh, 900px) + 1rem);
  margin-top: 0px;
  margin-bottom: 2rem;
}

h2 {
  font-family: Abel, monospace;
  font-weight: 300;
  font-style: normal;
  font-size: calc(1.44vw + 1.125rem);
}

h3 {
  font-family: Abel, monospace;
  font-weight: 300;
  font-style: normal;
  font-size: calc(1.44vw + 1.125rem);
  margin: 0;
}

p {
  font-family: source-code-pro, monospace;
  font-weight: 200;
  font-style: normal;
  font-size: calc(0vw + 1rem);
}

.product-text {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 8vw;
  margin-right: 8vw;
}

@media (min-width: 472px) {
  .product-text {
    margin-left: 0;
    margin-right: 0;
  }
}
.menu-page-selector {
  font-family: source-code-pro, monospace;
  font-weight: 200;
  font-style: normal;
  font-size: calc(1.44vw + 0.4rem);
}

.main-heading {
  font-family: Blackriver-bold;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: calc(0.036 * min(100vh, 900px) + 1rem);
  padding: 17px;
  margin: 2rem auto 0 auto;
  text-align: center;
}

.product-card-wrapper.odd {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  object-fit: contain;
  width: 92vw;
  justify-self: center;
  align-items: center;
  overflow: none;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 472px) {
  .product-card-wrapper.odd {
    flex-direction: row;
    box-sizing: content-box;
    justify-content: space-between;
    overflow: none;
    padding-top: 6vmax;
    padding-bottom: 6vmax;
    padding-left: 4vw;
    padding-right: 4vw;
  }
}

.product-card-wrapper.even {
  display: flex;
  flex-direction: column-reverse;
  box-sizing: border-box;
  object-fit: contain;
  width: 92vw;
  justify-self: center;
  align-items: center;
  overflow: none;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 472px) {
  .product-card-wrapper.even {
    flex-direction: row;
    box-sizing: content-box;
    justify-content: space-between;
    overflow: none;
    padding-top: 6vmax;
    padding-bottom: 6vmax;
    padding-left: 4vw;
    padding-right: 4vw;
  }
}

h3.product-card-heading {
  align-self: center;
  margin: 0px;
  text-align: center;
}

.product-image-container {
  box-sizing: content-box;
  width: 100%;
  height: auto;
  object-fit: contain;
  overflow: none;
  opacity: 0;
  transition-property: opacity;
  will-change: transform, opacity;
}
@media (min-width: 472px) {
  .product-image-container {
    width: 46%;
    height: auto;
  }
}

.product-card-description {
  width: 100%;
  margin: auto;
  justify-self: center;
  align-self: center;
  text-align: center;
  opacity: 0;
  transition-property: opacity;
  will-change: transform, opacity;
  font-family: source-code-pro;
}
@media (min-width: 472px) {
  .product-card-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 44%;
  }
}

.product-image {
  height: auto;
  width: 100%;
  object-fit: contain;
  overflow: none;
  margin-top: 0;
}

.button-container {
  display: flex;
  box-sizing: content-box;
  width: 100%;
  max-width: 158px;
  /*
  margin-top: 2.4em;
  margin-bottom: 2.4em;
  */
  margin-left: auto;
  margin-right: auto;
}

a.red-section-button {
  padding: 1.2em 1.6em;
  width: 100%;
  align-self: center;
  font-family: source-code-pro, monospace;
  color: white;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 1rem;
  text-decoration: none;
  border: solid white 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  transition: all 0.5s ease-out;
}

a.red-section-button:hover {
  background-color: white;
  color: rgb(182, 32, 37);
}

.press-button {
  background-color: transparent;
}

.press-page-button {
  text-align: center;
  padding: 1.2em 1.6em;
  width: 100%;
  align-self: center;
  font-family: source-code-pro, monospace;
  color: rgb(182, 32, 37);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 1rem;
  text-decoration: none;
  border: solid rgb(182, 32, 37) 2px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s ease-out;
}

a.press-page-button:hover {
  background-color: rgb(182, 32, 37);
  color: white;
}

@font-face {
  font-family: Blackriver;
  src: url(".assets/Exported Fonts/Blackriver-Bold.otf");
}
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 18px;
}

.menu-link {
  font-family: Blackriver-bold;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: calc(3 * 0.012 * min(100vh, 900px) + 1rem);
  margin-top: 0px;
  margin-bottom: 2rem;
}

h2 {
  font-family: Abel, monospace;
  font-weight: 300;
  font-style: normal;
  font-size: calc(1.44vw + 1.125rem);
}

h3 {
  font-family: Abel, monospace;
  font-weight: 300;
  font-style: normal;
  font-size: calc(1.44vw + 1.125rem);
  margin: 0;
}

p {
  font-family: source-code-pro, monospace;
  font-weight: 200;
  font-style: normal;
  font-size: calc(0vw + 1rem);
}

.product-text {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 8vw;
  margin-right: 8vw;
}

@media (min-width: 472px) {
  .product-text {
    margin-left: 0;
    margin-right: 0;
  }
}
.menu-page-selector {
  font-family: source-code-pro, monospace;
  font-weight: 200;
  font-style: normal;
  font-size: calc(1.44vw + 0.4rem);
}

.main-heading {
  font-family: Blackriver-bold;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: calc(0.036 * min(100vh, 900px) + 1rem);
  padding: 17px;
  margin: 2rem auto 0 auto;
  text-align: center;
}

@font-face {
  font-family: Blackriver;
  src: url(".assets/Exported Fonts/Blackriver-Bold.otf");
}
* {
  box-sizing: border-box;
}

#main-site-container {
  display: block;
}

#main-site-container.hide-overflow {
  display: none;
}

.block-content {
  display: flex;
  flex-direction: column;
}

.section-content {
  box-sizing: content-box;
  font-weight: 400;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  text-size-adjust: 100%;
  overflow-wrap: break-word;
  letter-spacing: normal;
  text-align: center;
}

/* was originally in home.scss */
.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.footer-content-spacing {
  padding: 0px;
}

@media (min-width: 768px) {
  .footer-content-spacing {
    padding-left: 9px;
    padding-right: 9px;
  }
}
.content-wrapper {
  margin-left: 6vw;
  margin-right: 6vw;
  padding-left: 4vw;
  padding-right: 4vw;
  position: relative;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .content-wrapper {
    justify-content: space-between;
  }
}
.icons-wrapper {
  box-sizing: content-box;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .icons-wrapper {
    margin-top: 0px;
  }
}
.ig-icon-wrapper {
  justify-self: flex-start;
}

.yelp-icon-wrapper {
  justify-self: flex-end;
}

.full-width-page-wrapper {
  margin-top: 15vh;
  padding-top: 2rem;
  padding-left: 4vw;
  padding-right: 4vw;
}

#nav-modal {
  position: absolute;
  margin-top: 15vh;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  width: 100vw;
  height: 100%;
  display: none;
  z-index: 10;
}

#nav-modal.show {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
}

#modal-icons {
  opacity: 0;
}

.modal-items {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  opacity: 0;
  transform: matrix(1, 0, 0, 1, 0, 60);
}

.move-up {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: opacity 250ms cubic-bezier(0.25, 0, 0.25, 1), transform 400ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

#modal-icons.reveal {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.25, 0, 0.25, 1);
}

#modal-icons.add-margin {
  margin-bottom: 2em;
}

.modal-nav-item {
  text-align: center;
  font-family: source-code-pro, monospace;
  font-size: calc(0vw + 2rem);
  margin: 3vw 5vw;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 0em;
  transition-property: opacity;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3em;
}

@font-face {
  font-family: Blackriver;
  src: url(".assets/Exported Fonts/Blackriver-Bold.otf");
}
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 18px;
}

.menu-link {
  font-family: Blackriver-bold;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: calc(3 * 0.012 * min(100vh, 900px) + 1rem);
  margin-top: 0px;
  margin-bottom: 2rem;
}

h2 {
  font-family: Abel, monospace;
  font-weight: 300;
  font-style: normal;
  font-size: calc(1.44vw + 1.125rem);
}

h3 {
  font-family: Abel, monospace;
  font-weight: 300;
  font-style: normal;
  font-size: calc(1.44vw + 1.125rem);
  margin: 0;
}

p {
  font-family: source-code-pro, monospace;
  font-weight: 200;
  font-style: normal;
  font-size: calc(0vw + 1rem);
}

.product-text {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 8vw;
  margin-right: 8vw;
}

@media (min-width: 472px) {
  .product-text {
    margin-left: 0;
    margin-right: 0;
  }
}
.menu-page-selector {
  font-family: source-code-pro, monospace;
  font-weight: 200;
  font-style: normal;
  font-size: calc(1.44vw + 0.4rem);
}

.main-heading {
  font-family: Blackriver-bold;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: calc(0.036 * min(100vh, 900px) + 1rem);
  padding: 17px;
  margin: 2rem auto 0 auto;
  text-align: center;
}

footer {
  min-height: 33vh;
}

.footer-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  align-items: center;
  text-align: center;
  padding: 6vw;
  clear: both;
}
@media (min-width: 820px) {
  .footer-content-wrapper {
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
    max-width: 1200px;
  }
}

.hide {
  display: none;
}

@media (min-width: 820px) {
  .footer-text {
    margin: 0;
    align-self: flex-start;
    text-align: justify;
  }
}

* {
  box-sizing: border-box;
}

#main-site-container {
  display: block;
}

#main-site-container.hide-overflow {
  display: none;
}

.block-content {
  display: flex;
  flex-direction: column;
}

.section-content {
  box-sizing: content-box;
  font-weight: 400;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  text-size-adjust: 100%;
  overflow-wrap: break-word;
  letter-spacing: normal;
  text-align: center;
}

/* was originally in home.scss */
.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.footer-content-spacing {
  padding: 0px;
}
@media (min-width: 768px) {
  .footer-content-spacing {
    padding-left: 9px;
    padding-right: 9px;
  }
}

.content-wrapper {
  margin-left: 6vw;
  margin-right: 6vw;
  padding-left: 4vw;
  padding-right: 4vw;
  position: relative;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .content-wrapper {
    justify-content: space-between;
  }
}

.icons-wrapper {
  box-sizing: content-box;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .icons-wrapper {
    margin-top: 0px;
  }
}

.ig-icon-wrapper {
  justify-self: flex-start;
}

.yelp-icon-wrapper {
  justify-self: flex-end;
}

.full-width-page-wrapper {
  margin-top: 15vh;
  padding-top: 2rem;
  padding-left: 4vw;
  padding-right: 4vw;
}

@font-face {
  font-family: Blackriver;
  src: url(".assets/Exported Fonts/Blackriver-Bold.otf");
}
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 18px;
}

.menu-link {
  font-family: Blackriver-bold;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: calc(3 * 0.012 * min(100vh, 900px) + 1rem);
  margin-top: 0px;
  margin-bottom: 2rem;
}

h2 {
  font-family: Abel, monospace;
  font-weight: 300;
  font-style: normal;
  font-size: calc(1.44vw + 1.125rem);
}

h3 {
  font-family: Abel, monospace;
  font-weight: 300;
  font-style: normal;
  font-size: calc(1.44vw + 1.125rem);
  margin: 0;
}

p {
  font-family: source-code-pro, monospace;
  font-weight: 200;
  font-style: normal;
  font-size: calc(0vw + 1rem);
}

.product-text {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 8vw;
  margin-right: 8vw;
}

@media (min-width: 472px) {
  .product-text {
    margin-left: 0;
    margin-right: 0;
  }
}
.menu-page-selector {
  font-family: source-code-pro, monospace;
  font-weight: 200;
  font-style: normal;
  font-size: calc(1.44vw + 0.4rem);
}

.main-heading {
  font-family: Blackriver-bold;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: calc(0.036 * min(100vh, 900px) + 1rem);
  padding: 17px;
  margin: 2rem auto 0 auto;
  text-align: center;
}

@font-face {
  font-family: Blackriver;
  src: url(".assets/Exported Fonts/Blackriver-Bold.otf");
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 15vh;
  pointer-events: auto;
  background-color: white;
  overflow: none;
}

.navbar-wrapper {
  position: relative;
  width: 92vw;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-self: center;
  align-items: center;
  align-self: center;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
  margin-left: 4vw;
  margin-right: 4vw;
  overflow: none;
}

.nav-items-wrapper {
  display: none;
}
@media (min-width: 768px) {
  .nav-items-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-self: flex-end;
    margin-right: 10px;
  }
}

.icons-wrapper {
  padding: 10px;
}

.header-logo-container {
  box-sizing: content-box;
  max-height: 86px;
  width: auto;
  object-fit: contain;
  margin: 0px;
  justify-self: flex-start;
  align-self: center;
}

.header-title-logo {
  width: auto;
  max-height: 86px;
  align-self: center;
  overflow: none;
}

.header-nav-item {
  padding: 10px;
  text-align: left;
}

a.navlink {
  font-family: source-code-pro, monospace;
  font-weight: 200;
  font-style: normal;
  color: hsl(330deg, 2.4390243902%, 16.0784313725%);
  text-decoration: none;
  cursor: pointer;
}

.header-content-div {
  padding-top: 6vw;
  padding-right: 6vw;
  padding-bottom: 6vw;
  padding-left: 6vw;
}
@media (min-width: 768px) {
  .header-content-div {
    position: relative;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    padding-left: 4vw;
    padding-right: 4vw;
  }
}

.navbar-burger {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: white;
}
@media (min-width: 768px) {
  .navbar-burger {
    display: none;
  }
}

.navbar-burger.active {
  transform: translatex(-3.5px) rotate(-135deg);
}

.top-bun {
  display: block;
  content: "";
  left: 0;
  width: 100%;
  height: 1px;
  margin: none;
  background-color: rgb(0, 0, 0);
  transition: transform 250ms cubic-bezier(0.2, 0.6, 0.3, 1), width 250ms cubic-bezier(0.2, 0.6, 0.3, 1);
  will-change: transform, width;
  cursor: inherit;
}

.top-bun.active {
  transform: translatex(3.5px) translateY(5px) rotate(-135deg);
  width: 28px;
}

.patty {
  display: block;
  position: absolute;
  width: 100%;
  transform: scale(0);
}

.bottom-bun {
  display: block;
  content: "";
  left: 0;
  margin: none;
  width: 100%;
  transition: transform 250ms cubic-bezier(0.2, 0.6, 0.3, 1), width 250ms cubic-bezier(0.2, 0.6, 0.3, 1);
  height: 1px;
  background-color: rgb(0, 0, 0);
  will-change: transform, width;
  cursor: inherit;
}

.bottom-bun.active {
  transform: translatex(3.5px) translateY(-6px) rotate(135deg);
  width: 28px;
}

.start-position-left {
  transform: matrix(1, 0, 0, 1, -14, 0);
}

.start-position-right {
  transform: matrix(1, 0, 0, 1, 14, 0);
}

.is-visible {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: opacity 800ms cubic-bezier(0.4, 0, 0.2, 1), transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
  font-family: Blackriver;
  src: url(".assets/Exported Fonts/Blackriver-Bold.otf");
}
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 18px;
}

.menu-link {
  font-family: Blackriver-bold;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: calc(3 * 0.012 * min(100vh, 900px) + 1rem);
  margin-top: 0px;
  margin-bottom: 2rem;
}

h2 {
  font-family: Abel, monospace;
  font-weight: 300;
  font-style: normal;
  font-size: calc(1.44vw + 1.125rem);
}

h3 {
  font-family: Abel, monospace;
  font-weight: 300;
  font-style: normal;
  font-size: calc(1.44vw + 1.125rem);
  margin: 0;
}

p {
  font-family: source-code-pro, monospace;
  font-weight: 200;
  font-style: normal;
  font-size: calc(0vw + 1rem);
}

.product-text {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 8vw;
  margin-right: 8vw;
}

@media (min-width: 472px) {
  .product-text {
    margin-left: 0;
    margin-right: 0;
  }
}
.menu-page-selector {
  font-family: source-code-pro, monospace;
  font-weight: 200;
  font-style: normal;
  font-size: calc(1.44vw + 0.4rem);
}

.main-heading {
  font-family: Blackriver-bold;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: calc(0.036 * min(100vh, 900px) + 1rem);
  padding: 17px;
  margin: 2rem auto 0 auto;
  text-align: center;
}

@font-face {
  font-family: Blackriver;
  src: url(".assets/Exported Fonts/Blackriver-Bold.otf");
}
* {
  box-sizing: border-box;
}

#main-site-container {
  display: block;
}

#main-site-container.hide-overflow {
  display: none;
}

.block-content {
  display: flex;
  flex-direction: column;
}

.section-content {
  box-sizing: content-box;
  font-weight: 400;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  text-size-adjust: 100%;
  overflow-wrap: break-word;
  letter-spacing: normal;
  text-align: center;
}

/* was originally in home.scss */
.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.footer-content-spacing {
  padding: 0px;
}

@media (min-width: 768px) {
  .footer-content-spacing {
    padding-left: 9px;
    padding-right: 9px;
  }
}
.content-wrapper {
  margin-left: 6vw;
  margin-right: 6vw;
  padding-left: 4vw;
  padding-right: 4vw;
  position: relative;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .content-wrapper {
    justify-content: space-between;
  }
}
.icons-wrapper {
  box-sizing: content-box;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .icons-wrapper {
    margin-top: 0px;
  }
}
.ig-icon-wrapper {
  justify-self: flex-start;
}

.yelp-icon-wrapper {
  justify-self: flex-end;
}

.full-width-page-wrapper {
  margin-top: 15vh;
  padding-top: 2rem;
  padding-left: 4vw;
  padding-right: 4vw;
}

.gallery-container {
  position: relative;
  margin-top: 15.5vh;
  margin-bottom: 1em;
  width: 100vw;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(11, auto);
  grid-gap: 1vw;
  overflow: hidden;
}
@media (min-width: 464px) {
  .gallery-container {
    grid-template-columns: [line-1] 49% [line-2] 4% [line-3] 44% [line-4];
    grid-template-rows: repeat(9, auto);
  }
}
@media (min-width: 515px) {
  .gallery-container {
    grid-template-columns: [line-1] 33% [line-2] 10% [line-3] 4% [line-4] 16% [line-5] 34% [line-6];
    grid-template-rows: repeat(5, auto);
  }
}
@media (min-width: 768px) {
  .gallery-container {
    grid-template-columns: [line-1] 35% [line-2] 12% [line-3] 20% [line-4] 31% [line-5];
    grid-template-rows: repeat(5, auto);
  }
}
@media (min-width: 820px) {
  .gallery-container {
    grid-template-columns: [line-1] 32% [line-2] 1% [line-3] 14% [line-4] 16% [line-5] 1% [line-6] 32% [line-7];
    grid-template-rows: repeat(4, auto);
  }
}
@media (min-width: 1064px) {
  .gallery-container {
    grid-template-columns: [line-1] 26% [line-2] 7% [line-3] 19% [line-4] 14% [line-5] 8% [line-6] 26% [line-7];
    grid-template-rows: repeat(3, auto);
  }
}
@media (min-width: 1122px) {
  .gallery-container {
    grid-template-columns: [line-1] 26% [line-2] 1% [line-3] 5% [line-4] 20% [line-5] 2% [line-6] 13% [line-7] 7% [line-8] 1% [line-9] 25% [line-10];
    grid-template-rows: repeat(3, auto);
    margin-left: auto;
    margin-right: auto;
  }
}

.gallery-item {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  object-fit: cover;
  overflow: hidden;
  margin-top: 4px;
  cursor: pointer;
}

.gallery-item::after {
  content: "";
  padding-bottom: 100%;
}

.gallery-image {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

@media (min-width: 464px) {
  .one {
    grid-column-start: line-1;
    grid-column-end: line-4;
  }
}
@media (min-width: 515px) {
  .one {
    grid-column-start: line-1;
    grid-column-end: line-4;
  }
}
@media (min-width: 768px) {
  .one {
    grid-column-start: line-1;
    grid-column-end: line-2;
  }
}
@media (min-width: 820px) {
  .one {
    grid-column-start: line-1;
    grid-column-end: line-3;
  }
}
@media (min-width: 1064px) {
  .one {
    grid-column-start: line-1;
    grid-column-end: line-2;
  }
}
@media (min-width: 1122px) {
  .one {
    grid-column-start: line-1;
    grid-column-end: line-3;
  }
}

@media (min-width: 464px) {
  .two {
    grid-column-start: line-1;
    grid-column-end: line-3;
  }
}
@media (min-width: 515px) {
  .two {
    grid-column-start: line-4;
    grid-column-end: line-6;
  }
}
@media (min-width: 768px) {
  .two {
    grid-column-start: line-2;
    grid-column-end: line-4;
  }
}
@media (min-width: 820px) {
  .two {
    grid-column-start: line-3;
    grid-column-end: line-6;
  }
}
@media (min-width: 1064px) {
  .two {
    grid-column-start: line-2;
    grid-column-end: line-4;
  }
}
@media (min-width: 1122px) {
  .two {
    grid-column-start: line-3;
    grid-column-end: line-6;
  }
}

@media (min-width: 464px) {
  .three {
    grid-column-start: line-3;
    grid-column-end: line-4;
  }
}
@media (min-width: 515px) {
  .three {
    grid-column-start: line-1;
    grid-column-end: line-3;
  }
}
@media (min-width: 768px) {
  .three {
    grid-column-start: line-4;
    grid-column-end: line-5;
  }
}
@media (min-width: 820px) {
  .three {
    grid-column-start: line-6;
    grid-column-end: line-7;
  }
}
@media (min-width: 1064px) {
  .three {
    grid-column-start: line-4;
    grid-column-end: line-6;
  }
}
@media (min-width: 1122px) {
  .three {
    grid-column-start: line-6;
    grid-column-end: line-8;
  }
}

@media (min-width: 464px) {
  .four {
    grid-column-start: line-1;
    grid-column-end: line-4;
  }
}
@media (min-width: 515px) {
  .four {
    grid-column-start: line-3;
    grid-column-end: line-6;
  }
}
@media (min-width: 768px) {
  .four {
    grid-column-start: line-1;
    grid-column-end: line-3;
  }
}
@media (min-width: 820px) {
  .four {
    grid-column-start: line-1;
    grid-column-end: line-2;
  }
}
@media (min-width: 1064px) {
  .four {
    grid-column-start: line-6;
    grid-column-end: line-7;
  }
}
@media (min-width: 1122px) {
  .four {
    grid-column-start: line-8;
    grid-column-end: line-10;
  }
}

@media (min-width: 464px) {
  .five {
    grid-column-start: line-1;
    grid-column-end: line-4;
  }
}
@media (min-width: 515px) {
  .five {
    grid-column-start: line-1;
    grid-column-end: line-4;
  }
}
@media (min-width: 768px) {
  .five {
    grid-column-start: line-3;
    grid-column-end: line-5;
  }
}
@media (min-width: 820px) {
  .five {
    grid-column-start: line-2;
    grid-column-end: line-5;
  }
}
@media (min-width: 1064px) {
  .five {
    grid-column-start: line-1;
    grid-column-end: line-3;
  }
}
@media (min-width: 1122px) {
  .five {
    grid-column-start: line-1;
    grid-column-end: line-2;
  }
}

@media (min-width: 464px) {
  .six {
    grid-column-start: line-1;
    grid-column-end: line-4;
  }
}
@media (min-width: 515px) {
  .six {
    grid-column-start: line-4;
    grid-column-end: line-6;
  }
}
@media (min-width: 768px) {
  .six {
    grid-column-start: line-1;
    grid-column-end: line-3;
  }
}
@media (min-width: 820px) {
  .six {
    grid-column-start: line-5;
    grid-column-end: line-7;
  }
}
@media (min-width: 1064px) {
  .six {
    grid-column-start: line-3;
    grid-column-end: line-5;
  }
}
@media (min-width: 1122px) {
  .six {
    grid-column-start: line-2;
    grid-column-end: line-5;
  }
}

@media (min-width: 464px) {
  .seven {
    grid-column-start: line-1;
    grid-column-end: line-4;
  }
}
@media (min-width: 515px) {
  .seven {
    grid-column-start: line-1;
    grid-column-end: line-4;
  }
}
@media (min-width: 768px) {
  .seven {
    grid-column-start: line-3;
    grid-column-end: line-5;
  }
}
@media (min-width: 820px) {
  .seven {
    grid-column-start: line-1;
    grid-column-end: line-3;
  }
}
@media (min-width: 1064px) {
  .seven {
    grid-column-start: line-5;
    grid-column-end: line-7;
  }
}
@media (min-width: 1122px) {
  .seven {
    grid-column-start: line-5;
    grid-column-end: line-9;
  }
}

@media (min-width: 464px) {
  .eight {
    grid-column-start: line-1;
    grid-column-end: line-2;
  }
}
@media (min-width: 515px) {
  .eight {
    grid-column-start: line-4;
    grid-column-end: line-6;
  }
}
@media (min-width: 768px) {
  .eight {
    grid-column-start: line-1;
    grid-column-end: line-3;
  }
}
@media (min-width: 820px) {
  .eight {
    grid-column-start: line-3;
    grid-column-end: line-6;
  }
}
@media (min-width: 1064px) {
  .eight {
    grid-column-start: line-1;
    grid-column-end: line-2;
  }
}
@media (min-width: 1122px) {
  .eight {
    grid-column-start: line-9;
    grid-column-end: line-10;
  }
}

@media (min-width: 464px) {
  .nine {
    grid-column-start: line-2;
    grid-column-end: line-4;
  }
}
@media (min-width: 515px) {
  .nine {
    grid-column-start: line-1;
    grid-column-end: line-2;
    aspect-ratio: 1/1;
  }
}
@media (min-width: 768px) {
  .nine {
    grid-column-start: line-3;
    grid-column-end: line-5;
  }
}
@media (min-width: 820px) {
  .nine {
    grid-column-start: line-6;
    grid-column-end: line-7;
  }
}
@media (min-width: 1064px) {
  .nine {
    grid-column-start: line-2;
    grid-column-end: line-4;
  }
}
@media (min-width: 1122px) {
  .nine {
    grid-column-start: line-1;
    grid-column-end: line-4;
  }
}

@media (min-width: 464px) {
  .ten {
    grid-column-start: line-1;
    grid-column-end: line-4;
  }
}
@media (min-width: 515px) {
  .ten {
    grid-column-start: line-2;
    grid-column-end: line-5;
    aspect-ratio: 1/1;
  }
}
@media (min-width: 768px) {
  .ten {
    grid-column-start: line-1;
    grid-column-end: line-3;
  }
}
@media (min-width: 820px) {
  .ten {
    grid-column-start: line-1;
    grid-column-end: line-4;
  }
}
@media (min-width: 1064px) {
  .ten {
    grid-column-start: line-4;
    grid-column-end: line-6;
  }
}
@media (min-width: 1122px) {
  .ten {
    grid-column-start: line-4;
    grid-column-end: line-7;
  }
}

@media (min-width: 464px) {
  .eleven {
    grid-column-start: line-1;
    grid-column-end: line-4;
  }
}
@media (min-width: 515px) {
  .eleven {
    grid-column-start: line-5;
    grid-column-end: line-6;
    aspect-ratio: 1/1;
  }
}
@media (min-width: 768px) {
  .eleven {
    grid-column-start: line-3;
    grid-column-end: line-5;
  }
}
@media (min-width: 820px) {
  .eleven {
    grid-column-start: line-4;
    grid-column-end: line-7;
  }
}
@media (min-width: 1064px) {
  .eleven {
    grid-column-start: line-6;
    grid-column-end: line-7;
  }
}
@media (min-width: 1122px) {
  .eleven {
    grid-column-start: line-7;
    grid-column-end: line-10;
  }
}

.gallery-lightbox {
  display: none;
  position: fixed;
  flex-direction: column;
  box-sizing: border-box;
  user-select: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  padding: calc(3vw + 20px) 3vw;
  background-color: hsl(0deg, 0%, 100%);
  opacity: 0.9;
}

.gallery-lightbox-close-btn {
  color: #2a2829;
  border-radius: 0.15em;
  box-sizing: border-box;
  pointer-events: auto;
  opacity: 0.75;
  transition: opacity 600ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  margin: 0;
  background: transparent;
}

.gallery-lightbox-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  padding: 1.5vw 1.5vw;
}

.hidden {
  display: none;
}

* {
  box-sizing: border-box;
}

#main-site-container {
  display: block;
}

#main-site-container.hide-overflow {
  display: none;
}

.block-content {
  display: flex;
  flex-direction: column;
}

.section-content {
  box-sizing: content-box;
  font-weight: 400;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  text-size-adjust: 100%;
  overflow-wrap: break-word;
  letter-spacing: normal;
  text-align: center;
}

/* was originally in home.scss */
.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.footer-content-spacing {
  padding: 0px;
}

@media (min-width: 768px) {
  .footer-content-spacing {
    padding-left: 9px;
    padding-right: 9px;
  }
}
.content-wrapper {
  margin-left: 6vw;
  margin-right: 6vw;
  padding-left: 4vw;
  padding-right: 4vw;
  position: relative;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .content-wrapper {
    justify-content: space-between;
  }
}
.icons-wrapper {
  box-sizing: content-box;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .icons-wrapper {
    margin-top: 0px;
  }
}
.ig-icon-wrapper {
  justify-self: flex-start;
}

.yelp-icon-wrapper {
  justify-self: flex-end;
}

.full-width-page-wrapper {
  margin-top: 15vh;
  padding-top: 2rem;
  padding-left: 4vw;
  padding-right: 4vw;
}

@font-face {
  font-family: Blackriver;
  src: url(".assets/Exported Fonts/Blackriver-Bold.otf");
}
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 18px;
}

.menu-link {
  font-family: Blackriver-bold;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: calc(3 * 0.012 * min(100vh, 900px) + 1rem);
  margin-top: 0px;
  margin-bottom: 2rem;
}

h2 {
  font-family: Abel, monospace;
  font-weight: 300;
  font-style: normal;
  font-size: calc(1.44vw + 1.125rem);
}

h3 {
  font-family: Abel, monospace;
  font-weight: 300;
  font-style: normal;
  font-size: calc(1.44vw + 1.125rem);
  margin: 0;
}

p {
  font-family: source-code-pro, monospace;
  font-weight: 200;
  font-style: normal;
  font-size: calc(0vw + 1rem);
}

.product-text {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 8vw;
  margin-right: 8vw;
}

@media (min-width: 472px) {
  .product-text {
    margin-left: 0;
    margin-right: 0;
  }
}
.menu-page-selector {
  font-family: source-code-pro, monospace;
  font-weight: 200;
  font-style: normal;
  font-size: calc(1.44vw + 0.4rem);
}

.main-heading {
  font-family: Blackriver-bold;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: calc(0.036 * min(100vh, 900px) + 1rem);
  padding: 17px;
  margin: 2rem auto 0 auto;
  text-align: center;
}

@font-face {
  font-family: Blackriver;
  src: url(".assets/Exported Fonts/Blackriver-Bold.otf");
}
.nav-homepage {
  z-index: 10;
}

.homepage-menu {
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: 8vw;
  margin-right: auto;
  height: 83.5vh;
  flex-direction: column;
  margin-top: 15vh;
  margin-bottom: 0;
  padding-top: auto;
  padding-bottom: auto;
}
@media (min-width: 472px) {
  .homepage-menu {
    margin-left: 15vw;
  }
}
@media (min-width: 768px) {
  .homepage-menu {
    width: 75%;
    padding-left: 20px;
  }
}

.homepage-link {
  box-sizing: content-box;
  color: white;
  font-size: calc(3 * 0.012 * min(100vh, 900px) + 1rem);
  font-family: Blackriver-bold;
  font-weight: 400;
  font-style: normal;
  text-decoration-line: none;
  margin-top: 0px;
  margin-bottom: 2rem;
}

.section-one {
  position: relative;
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url("../../assets/images/PestoChicken.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 100%;
  height: 100vh;
  min-height: 83.5vh;
  background-position: 50% 85%;
  background-attachment: scroll;
  z-index: 5;
  padding-top: auto;
  padding-bottom: auto;
}

.section-one:before {
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(42, 40, 41);
  opacity: 0.1;
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}

.section-two {
  margin-top: 0xp;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* THIS COULD POSSIBLY BE USED IN A MORE GLOBAL FOLDER */
.red-section {
  background-color: rgb(182, 32, 37);
  color: white;
  padding-top: 2em;
  padding-bottom: 2em;
}

h3.red-section-header-text {
  padding: 17px;
  text-align: center;
}

h2.red-section-header-text {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.section-three {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  padding-bottom: 2em;
  gap: 3em;
}
@media (min-width: 472px) {
  .section-three {
    gap: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.address-wrapper {
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
@media (min-width: 472px) {
  .address-wrapper {
    align-content: center;
    text-align: center;
  }
}

.open-hours-info-wrapper {
  width: 60vw;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media (min-width: 768px) {
  .open-hours-info-wrapper {
    flex-direction: row;
  }
}

.open-hours {
  padding: 17px;
}

.row-item-one {
  padding-left: 0px;
  padding-right: auto;
  margin-left: 0px;
  margin-bottom: 20px;
  justify-self: flex-start;
}
@media (min-width: 768px) {
  .row-item-one {
    margin-bottom: 0px;
  }
}

.start-position-left {
  transform: matrix(1, 0, 0, 1, -14, 0);
}

.start-position-right {
  transform: matrix(1, 0, 0, 1, 14, 0);
}

.is-visible {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: opacity 800ms cubic-bezier(0.4, 0, 0.2, 1), transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-container {
  display: flex;
  box-sizing: content-box;
  width: 100%;
  max-width: 158px;
  /*
  margin-top: 2.4em;
  margin-bottom: 2.4em;
  */
  margin-left: auto;
  margin-right: auto;
}

a.red-section-button {
  padding: 1.2em 1.6em;
  width: 100%;
  align-self: center;
  font-family: source-code-pro, monospace;
  color: white;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 1rem;
  text-decoration: none;
  border: solid white 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  transition: all 0.5s ease-out;
}

a.red-section-button:hover {
  background-color: white;
  color: rgb(182, 32, 37);
}

.press-button {
  background-color: transparent;
}

.press-page-button {
  text-align: center;
  padding: 1.2em 1.6em;
  width: 100%;
  align-self: center;
  font-family: source-code-pro, monospace;
  color: rgb(182, 32, 37);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 1rem;
  text-decoration: none;
  border: solid rgb(182, 32, 37) 2px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s ease-out;
}

a.press-page-button:hover {
  background-color: rgb(182, 32, 37);
  color: white;
}

* {
  box-sizing: border-box;
}

#main-site-container {
  display: block;
}

#main-site-container.hide-overflow {
  display: none;
}

.block-content {
  display: flex;
  flex-direction: column;
}

.section-content {
  box-sizing: content-box;
  font-weight: 400;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  text-size-adjust: 100%;
  overflow-wrap: break-word;
  letter-spacing: normal;
  text-align: center;
}

/* was originally in home.scss */
.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.footer-content-spacing {
  padding: 0px;
}

@media (min-width: 768px) {
  .footer-content-spacing {
    padding-left: 9px;
    padding-right: 9px;
  }
}
.content-wrapper {
  margin-left: 6vw;
  margin-right: 6vw;
  padding-left: 4vw;
  padding-right: 4vw;
  position: relative;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .content-wrapper {
    justify-content: space-between;
  }
}
.icons-wrapper {
  box-sizing: content-box;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .icons-wrapper {
    margin-top: 0px;
  }
}
.ig-icon-wrapper {
  justify-self: flex-start;
}

.yelp-icon-wrapper {
  justify-self: flex-end;
}

.full-width-page-wrapper {
  margin-top: 15vh;
  padding-top: 2rem;
  padding-left: 4vw;
  padding-right: 4vw;
}

@font-face {
  font-family: Blackriver;
  src: url(".assets/Exported Fonts/Blackriver-Bold.otf");
}
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 18px;
}

.menu-link {
  font-family: Blackriver-bold;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: calc(3 * 0.012 * min(100vh, 900px) + 1rem);
  margin-top: 0px;
  margin-bottom: 2rem;
}

h2 {
  font-family: Abel, monospace;
  font-weight: 300;
  font-style: normal;
  font-size: calc(1.44vw + 1.125rem);
}

h3 {
  font-family: Abel, monospace;
  font-weight: 300;
  font-style: normal;
  font-size: calc(1.44vw + 1.125rem);
  margin: 0;
}

p {
  font-family: source-code-pro, monospace;
  font-weight: 200;
  font-style: normal;
  font-size: calc(0vw + 1rem);
}

.product-text {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 8vw;
  margin-right: 8vw;
}
@media (min-width: 472px) {
  .product-text {
    margin-left: 0;
    margin-right: 0;
  }
}

.menu-page-selector {
  font-family: source-code-pro, monospace;
  font-weight: 200;
  font-style: normal;
  font-size: calc(1.44vw + 0.4rem);
}

.main-heading {
  font-family: Blackriver-bold;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: calc(0.036 * min(100vh, 900px) + 1rem);
  padding: 17px;
  margin: 2rem auto 0 auto;
  text-align: center;
}

@font-face {
  font-family: Blackriver;
  src: url(".assets/Exported Fonts/Blackriver-Bold.otf");
}
.card-section-wrapper {
  height: min-content;
  padding-left: 6vw;
  padding-right: 6vw;
  overflow: none;
}

.press-section-one {
  box-sizing: border-box;
  background-color: rgb(230, 230, 224);
  height: min-content;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 4vw;
  padding-right: 4vw;
  margin-top: 15vh;
  margin-bottom: 2em;
  font-size: calc(0.5 * 0.012 * min(100vh, 900px) + 1.5rem);
  line-height: 1.7;
}

.card-section {
  box-sizing: border-box;
  height: min-content;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
  margin-bottom: 2em;
}

.press-card {
  box-sizing: content-box;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 88vw;
  max-width: 1200px;
  height: min-content;
  margin-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  overflow: none;
}

.press-card::before {
  content: "";
  display: block;
}

.press-caption-card {
  position: relative;
  width: 60%;
  top: 50px;
  height: auto;
  background-color: rgb(230, 230, 224);
  padding: 28px;
  margin-bottom: 1em;
  z-index: 5;
  opacity: 0;
  transition-property: opacity;
  will-change: transform, opacity;
}
@media (min-width: 472px) {
  .press-caption-card {
    top: 0px;
    width: 40%;
    padding: 1.5em;
  }
}

.on-right {
  margin-left: auto;
  right: 0;
}

.on-left {
  margin-right: auto;
  left: 0;
}

.press-heading {
  font-family: Blackriver-bold;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: calc(0.036 * min(100vh, 900px) + 1rem);
  padding: 17px;
  margin: 0 auto 0 auto;
  text-align: center;
}

.press-image-container {
  box-sizing: content-box;
  position: absolute;
  width: 90%;
  top: 0px;
  object-fit: contain;
  opacity: 0;
  transition-property: opacity;
  will-change: transform, opacity;
  z-index: 2;
}
@media (min-width: 472px) {
  .press-image-container {
    width: 64%;
  }
}

.press-image {
  height: auto;
  width: 100%;
}

div.press-card:last-of-type {
  margin-bottom: 2em;
}

.horizontal-rule {
  position: relative;
  flex-direction: row;
  align-content: center;
  margin-top: 3em;
  margin-bottom: 3em;
  height: 1px;
  color: black;
  width: 100%;
}

.extra-padding {
  padding-top: 20px;
}

@font-face {
  font-family: Blackriver;
  src: url(".assets/Exported Fonts/Blackriver-Bold.otf");
}
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 18px;
}

.menu-link {
  font-family: Blackriver-bold;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: calc(3 * 0.012 * min(100vh, 900px) + 1rem);
  margin-top: 0px;
  margin-bottom: 2rem;
}

h2 {
  font-family: Abel, monospace;
  font-weight: 300;
  font-style: normal;
  font-size: calc(1.44vw + 1.125rem);
}

h3 {
  font-family: Abel, monospace;
  font-weight: 300;
  font-style: normal;
  font-size: calc(1.44vw + 1.125rem);
  margin: 0;
}

p {
  font-family: source-code-pro, monospace;
  font-weight: 200;
  font-style: normal;
  font-size: calc(0vw + 1rem);
}

.product-text {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 8vw;
  margin-right: 8vw;
}

@media (min-width: 472px) {
  .product-text {
    margin-left: 0;
    margin-right: 0;
  }
}
.menu-page-selector {
  font-family: source-code-pro, monospace;
  font-weight: 200;
  font-style: normal;
  font-size: calc(1.44vw + 0.4rem);
}

.main-heading {
  font-family: Blackriver-bold;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: calc(0.036 * min(100vh, 900px) + 1rem);
  padding: 17px;
  margin: 2rem auto 0 auto;
  text-align: center;
}

@font-face {
  font-family: Blackriver;
  src: url(".assets/Exported Fonts/Blackriver-Bold.otf");
}
* {
  box-sizing: border-box;
}

#main-site-container {
  display: block;
}

#main-site-container.hide-overflow {
  display: none;
}

.block-content {
  display: flex;
  flex-direction: column;
}

.section-content {
  box-sizing: content-box;
  font-weight: 400;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  text-size-adjust: 100%;
  overflow-wrap: break-word;
  letter-spacing: normal;
  text-align: center;
}

/* was originally in home.scss */
.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.footer-content-spacing {
  padding: 0px;
}

@media (min-width: 768px) {
  .footer-content-spacing {
    padding-left: 9px;
    padding-right: 9px;
  }
}
.content-wrapper {
  margin-left: 6vw;
  margin-right: 6vw;
  padding-left: 4vw;
  padding-right: 4vw;
  position: relative;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .content-wrapper {
    justify-content: space-between;
  }
}
.icons-wrapper {
  box-sizing: content-box;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .icons-wrapper {
    margin-top: 0px;
  }
}
.ig-icon-wrapper {
  justify-self: flex-start;
}

.yelp-icon-wrapper {
  justify-self: flex-end;
}

.full-width-page-wrapper {
  margin-top: 15vh;
  padding-top: 2rem;
  padding-left: 4vw;
  padding-right: 4vw;
}

.main-menu-section {
  position: relative;
  background-color: rgb(182, 32, 37);
  color: white;
  padding-left: 6vw;
  padding-right: 6vw;
  padding-top: 6.6vmax;
  padding-bottom: 6.6vmax;
  margin-top: 15vh;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: min-content;
}

.hide {
  display: none;
}

.menu-section {
  margin-bottom: 3em;
}

.menu-selector-wrapper {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
}

.menu-page-selector {
  font-size: calc(0 * 0.012 * min(100vh, 900px) + 1rem) !important;
  cursor: pointer;
}

.selector-is-active {
  text-decoration: underline;
  cursor: default;
}

.menu-section-title {
  font-size: calc(1.2 * 0.012 * min(100vh, 900px) + 1rem) !important;
  font-weight: 300;
  margin-top: 2em;
}

.item-title {
  font-size: calc(0.6 * 0.012 * min(100vh, 900px) + 1rem) !important;
  font-family: Abel;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0em;
  text-transform: none;
  line-height: 1.4em;
  margin-top: 2em;
}

.item-description {
  font-family: source-code-pro, monospace;
  font-size: calc(0 * 0.012 * min(100vh, 900px) + 1rem) !important;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 0em;
  text-transform: none;
  line-height: 1.7em;
}

.section-notes {
  margin-top: 0;
  margin-bottom: 3em;
}

/* min 768 
 menu item  */
* {
  box-sizing: border-box;
}

#main-site-container {
  display: block;
}

#main-site-container.hide-overflow {
  display: none;
}

.block-content {
  display: flex;
  flex-direction: column;
}

.section-content {
  box-sizing: content-box;
  font-weight: 400;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  text-size-adjust: 100%;
  overflow-wrap: break-word;
  letter-spacing: normal;
  text-align: center;
}

/* was originally in home.scss */
.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.footer-content-spacing {
  padding: 0px;
}

@media (min-width: 768px) {
  .footer-content-spacing {
    padding-left: 9px;
    padding-right: 9px;
  }
}
.content-wrapper {
  margin-left: 6vw;
  margin-right: 6vw;
  padding-left: 4vw;
  padding-right: 4vw;
  position: relative;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .content-wrapper {
    justify-content: space-between;
  }
}
.icons-wrapper {
  box-sizing: content-box;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .icons-wrapper {
    margin-top: 0px;
  }
}
.ig-icon-wrapper {
  justify-self: flex-start;
}

.yelp-icon-wrapper {
  justify-self: flex-end;
}

.full-width-page-wrapper {
  margin-top: 15vh;
  padding-top: 2rem;
  padding-left: 4vw;
  padding-right: 4vw;
}

.patio-image-container {
  box-sizing: content-box;
  width: auto;
  object-fit: fill;
  overflow: none;
  margin-bottom: 2em;
}

.patio-image {
  max-width: 100%;
  height: auto;
  overflow: none;
}

.reservation-page-description {
  text-align: center;
  width: 100%;
  height: min-content;
  margin-left: auto;
  margin-right: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}
@media (min-width: 768px) {
  .reservation-page-description {
    width: 60vw;
  }
}

.spacer {
  height: 17px;
  width: 100%;
  clear: both;
}

.horizontal-rule {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-top: 17px;
  margin-bottom: 17px;
  height: 1px;
  background-color: black;
  width: 100%;
}

.start-position-left {
  transform: matrix(1, 0, 0, 1, -14, 0);
}

.start-position-right {
  transform: matrix(1, 0, 0, 1, 14, 0);
}

.is-visible {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: opacity 800ms cubic-bezier(0.4, 0, 0.2, 1), transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
  font-family: Blackriver;
  src: url(".assets/Exported Fonts/Blackriver-Bold.otf");
}
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 18px;
}

.menu-link {
  font-family: Blackriver-bold;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: calc(3 * 0.012 * min(100vh, 900px) + 1rem);
  margin-top: 0px;
  margin-bottom: 2rem;
}

h2 {
  font-family: Abel, monospace;
  font-weight: 300;
  font-style: normal;
  font-size: calc(1.44vw + 1.125rem);
}

h3 {
  font-family: Abel, monospace;
  font-weight: 300;
  font-style: normal;
  font-size: calc(1.44vw + 1.125rem);
  margin: 0;
}

p {
  font-family: source-code-pro, monospace;
  font-weight: 200;
  font-style: normal;
  font-size: calc(0vw + 1rem);
}

.product-text {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 8vw;
  margin-right: 8vw;
}

@media (min-width: 472px) {
  .product-text {
    margin-left: 0;
    margin-right: 0;
  }
}
.menu-page-selector {
  font-family: source-code-pro, monospace;
  font-weight: 200;
  font-style: normal;
  font-size: calc(1.44vw + 0.4rem);
}

.main-heading {
  font-family: Blackriver-bold;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: calc(0.036 * min(100vh, 900px) + 1rem);
  padding: 17px;
  margin: 2rem auto 0 auto;
  text-align: center;
}

@font-face {
  font-family: Blackriver;
  src: url(".assets/Exported Fonts/Blackriver-Bold.otf");
}
.button-container {
  display: flex;
  box-sizing: content-box;
  width: 100%;
  max-width: 158px;
  /*
  margin-top: 2.4em;
  margin-bottom: 2.4em;
  */
  margin-left: auto;
  margin-right: auto;
}

a.red-section-button {
  padding: 1.2em 1.6em;
  width: 100%;
  align-self: center;
  font-family: source-code-pro, monospace;
  color: white;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 1rem;
  text-decoration: none;
  border: solid white 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  transition: all 0.5s ease-out;
}

a.red-section-button:hover {
  background-color: white;
  color: rgb(182, 32, 37);
}

.press-button {
  background-color: transparent;
}

.press-page-button {
  text-align: center;
  padding: 1.2em 1.6em;
  width: 100%;
  align-self: center;
  font-family: source-code-pro, monospace;
  color: rgb(182, 32, 37);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 1rem;
  text-decoration: none;
  border: solid rgb(182, 32, 37) 2px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s ease-out;
}

a.press-page-button:hover {
  background-color: rgb(182, 32, 37);
  color: white;
}

* {
  box-sizing: border-box;
}

#main-site-container {
  display: block;
}

#main-site-container.hide-overflow {
  display: none;
}

.block-content {
  display: flex;
  flex-direction: column;
}

.section-content {
  box-sizing: content-box;
  font-weight: 400;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  text-size-adjust: 100%;
  overflow-wrap: break-word;
  letter-spacing: normal;
  text-align: center;
}

/* was originally in home.scss */
.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.footer-content-spacing {
  padding: 0px;
}

@media (min-width: 768px) {
  .footer-content-spacing {
    padding-left: 9px;
    padding-right: 9px;
  }
}
.content-wrapper {
  margin-left: 6vw;
  margin-right: 6vw;
  padding-left: 4vw;
  padding-right: 4vw;
  position: relative;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .content-wrapper {
    justify-content: space-between;
  }
}
.icons-wrapper {
  box-sizing: content-box;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .icons-wrapper {
    margin-top: 0px;
  }
}
.ig-icon-wrapper {
  justify-self: flex-start;
}

.yelp-icon-wrapper {
  justify-self: flex-end;
}

.full-width-page-wrapper {
  margin-top: 15vh;
  padding-top: 2rem;
  padding-left: 4vw;
  padding-right: 4vw;
}

.online-ordering-main-page {
  background-color: rgb(230, 230, 224);
  height: 100vh;
}

/*# sourceMappingURL=main.css.map */
