.image-wrapper {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  object-position: 50% 50%; 
  object-fit: cover;
  overflow: hidden;

}

.background-image {
  position: absolute;
  object-position: 50% 50%;
  top: 0px;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
}


.navbar {
  position: absolute;
  top: 0px;
  height: 80px;
  width: 100vw;
  background-color: grey;
  z-index: 100;

}
.test-text-navbar {
  color: yellowgreen;
  position: relative;
  z-index: 100;

}

.test-text {
  color: yellowgreen;
  position: relative;
  top: 150px;
  z-index: 10;

}

.body-section {
  height: 380px;
}